/*body{font-family: 'Open Sans',sans-serif;}*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{font-family: 'Poppins', sans-serif;}/*background-image: url("https://a.cdn-hotels.com/gdcs/production40/d1917/d70f06ac-46de-4b82-ba50-6c6a8a69994e.jpg?impolicy=fcrop&w=1600&h=1066&q=medium");*/
.logo-acceuil{display: flex;justify-content: center;}
.logo-acceuil img{width: 200px;}
.login-form, .insc-form,.presentation-case,.last-commande {
    margin-top: 0;
    /*width: 360px;*/
    padding: 20px;
    margin: 50px auto; 
    background-color: #f7f7f7;
    border-radius: 44.8px;/*40px;*/
    color: rgb(49, 39, 131);
}
.login-form {width: 370px;}
.insc-form {width: 900px;}
.last-commande {width: 862px; margin: 0;} 
.login-form form{
    /*margin-bottom: 15px;*/
    /*background: rgb(245, 255, 245);/*#f7f7f7;*/
    /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
    padding: 30px;
}
.presentation-case{
    text-align: center;width: 309px;
}
.presentation{margin: 0 0 20px 0;}
.login-form h2 {
    margin: 0 0 15px;
    text-align:center;
    font-size: 2rem;
    color: rgb(49, 39, 131);
}











.passwd-container{
    width: 309.6px;
    margin:20px 0;
  }
  
  
  .input-container,.p-input-container{
      width: 309.6px;
      position: relative;
      margin:20px 0;
      display: flex;
  }
  .input-btn{
      width: 309.6px;
      position: relative;
      margin:auto;
  }
  
  .label,.pass-label {
      position: absolute;
      left: 20px;
      top: 14px;
      transition: all 0.2s;
      padding: 0 2px;
      z-index: 1;
      color: rgb(49, 39, 131);/*#2f2c45#b3b3b3;*/
  }
  .text-input,.pass-input,.button-input {
      padding: 0.8rem;
      width: 100%;
      height: 100%;
      border: 2px solid rgb(49, 39, 131);/*#2f2c45*/
      /*background: #272530;*/
      border-radius: 40px;
      font-size: 18px;
      outline: none;
      transition: all 0.3s;
      color: rgb(49, 39, 131);/*#fff;*/
  }
  .button-input{
      background-color: #fff;
      border: 2px solid rgb(49, 39, 131);/**/
      margin-top: 20px;
      cursor: pointer;
  }
  .button-input:hover{
      background-color: rgb(49, 39, 131);
      color: rgb(255, 232, 0);
  }
  
  .label::before, .pass-label::before {
      content: "";
      height: 5px;
      /*background: #fff;#272530;*/
      position: absolute;
      left: 0px;
      top: 10px;
      width: 100%;
      z-index: -1;
  }
  
  .text-input:focus,.pass-input:focus {
      border: 2px solid rgb(49, 39, 131);/*#7e4ccb;*/
  }
  
  .text-input:focus + .label,
  .filled {
      top: -10px;
      color: rgb(49, 39, 131);/*#7e4ccb;*/
      font-size: 14px;
      background: #fff;
  }
  .pass-input:focus + .pass-label,
  .filled {
      top: -10px;
      color: rgb(49, 39, 131);/*#7e4ccb;*/
      font-size: 14px;
      background: #fff;
  }
  
  .text-input::placeholder,.pass-input::placeholder {
      font-size: 16px;
      opacity: 0;
      transition: all 0.3s;
  }
  .text-input:focus::placeholder {
      opacity: 1;
  }
  .pass-input:focus::placeholder {
      opacity: 1;
  }
  .pass-strength {
      display: flex;
      align-items: center;
      margin-top: 3px;
  }
  
  .strength-label {
      font-size: 12px;
      margin-left: 10px;
  }
  .strength-percent {
      flex: 1;
      height: 5px;
      border-radius: 10px;
      display: block;
      background: #eee;
  }
  
  .strength-percent span {
      display: block;
      height: 100%;
      transition: all 0.4s;
      border-radius: 10px;
  }
  
  .fa-eye{
      position: absolute;
      top:35%;
      right: 5%;
      cursor: pointer;
      color: rgb(49, 39, 131);
  }
  
  .weak {
      background: red;
      width: 33%;
  }
  
  .average {
      background: #ffd000;
      width: 66%;
  }
  
  .strong {
      background: green;
      width: 100%;
  }



























.button-input-deconx{
    background-color: #fff;
    border: 2px solid red;/**/
    margin-top: 20px;
    cursor: pointer;
}
.button-input-deconx a{
    color:red;/**/
    text-decoration: none;
}
.button-input-deconx:hover{
    background-color: red; 
}
.button-input-deconx:hover>a, .about ul li:hover>a{
    color: #fff;
}
























.link-mdp a{
    color: #007bff;
    text-decoration: none;
    /*background-color: transparent;*/
    font-size:16px;
}
.s-lab{text-align:center;
    margin:0;
}
.s-lab a{
  color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.link-mdp{text-align:left;margin:0;}
.newsletter,.regle{font-size: .875rem;/*float: left;width: 50%;*//*margin-left: 20%;*/}
.regle{margin: 0 0 20px 0;}/*.regle{margin: 0; display: flex;}*/
.info_perso,.info_authenti{display: flex;}
/*.info_perso div,.info_authenti div{
    margin: auto;
}*/
.ttle1{margin: auto 97.5px;/*88px 95px*/}
.ttle,.inputs{margin: auto;}


/*.inputs{
    width: 50%;
}*/
.h{margin: 0;}


































.container1{
    /*position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;*/
    display: flex;
    justify-content: space-between;
}
.container1 input[type="radio"]{
    display: none;
}
.container1 label{
    position: relative;
    color: rgb(49, 39, 131);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    border: 2px solid rgb(49, 39, 131);
    border-radius: 31.2px;
    padding: 5.6px 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.fa-person, .fa-person-dress{font-size:35.2px;}
/*label::before{
    content: "";
    height: 30px;
    width: 30px;
    border: 3px solid #01cc65;
    border-radius: 50%;
    margin-right: 20px;
}*/
.container1 input[type="radio"]:checked+label{
    background-color: rgb(49, 39, 131);
    color: rgb(255, 232, 0);
}
.container1 input[type="radio"]:checked+label:before{
    height: 16px;
    width: 16px;
    border: 10px solid rgb(255, 232, 0);
    background-color: rgb(49, 39, 131);
}






































.pswd{margin: 20px 0 0px 0!important;}










.commande{display: flex;gap: 20px;justify-content: center;margin-bottom: 100px;}
.row2{display:flex;margin: 30px 0;}
.pic1 img{height: 150px;}
.title-commande{margin-left: 25px;}
.price-commande {
    /*text-align: right;
    width: 50%;*/
}
.rowX{}
.pull-price {
    /* float: right !important; */
    /* text-align: right; */
    /* margin: 0; */
}
.item-price-commande{
    display: flex;
}
.detail-commande-btn {
    padding: 0.8rem;
    /*width: 100%;
    height: 100%;*/
    border: 2px solid rgb(49, 39, 131);/*#2f2c45*/
    /*background: #272530;*/
    border-radius: 40px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: rgb(49, 39, 131);/*#fff;*/
    background-color: #fff;
    margin: 53px 0;
    cursor: pointer;
}
.detail-commande-btn:hover{
    background-color: rgb(49, 39, 131);
    color: rgb(255, 232, 0);
}



.ng-scope{margin-left: 10px;}
.logo-accueil-pr{margin-top: 50px;}



.alldetail-user, .propose{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.propose{gap: 20px;}
.alldetail-user{height: 100%;}
.o1detail-user{
    background-color: #f7f7f7;
    border-radius: 44.8px;/*40px;*/
    padding: 20px;
}
.o1detail-user h3,.o1detail-user span{
    margin: 0 25px;
}
.services-case{
    width: 902px;/*width: 862px;*/
    /*height: 100px;*/
    /*padding: 20px;*/
    /*background-color: #f7f7f7;
    border-radius: 44.8px;*//*40px;*/
    
}
.services{/*width: 100%;
    background-color: #007bff;
    height: 60px;*/
    margin: 20px 0 0 0;/*30px 0 0 0;*/
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;/**//*width: 862px;*/
}
.service{
    /*width: 50%;
    background-color: #155724;
    height: 30px;*/
    display: flex;
    /*gap: 20px;*/
    width: 50%;
    padding: 20px;/**/
    background-color:  #f7f7f7;/*#007bff;*/
    border-radius: 44.8px;/*40px;*/
}
.service img{ 
    width: 50%;border-radius: 25px;/*border-radius: 5px;*//**//*40px;*//*Averifier*/
}
.service-detail{padding: 0 0 0 20px;}






















.service-btn {
    padding: 0.8rem;
    border: 2px solid rgb(49, 39, 131);
    /* background: #272530; */
    border-radius: 40px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: rgb(49, 39, 131);
    background-color: #fff;
    margin: 25px 0 0 0;
    cursor: pointer;
    width: 100%;
}
.service-btn:hover{
    background-color: rgb(49, 39, 131);
    color: rgb(255, 232, 0);
}




















.detail-user-modal{
    background-color:  #f7f7f7;
    height: 500px;
    width: 500px;
}
/*-----------------------------------------------------------------------error signal-----------------------------------------------------------------------*/
.error-stl{
    color:#721c24;
    background-color:#f8d7da;
    border-color:#f5c6cb;
    position:relative;
    padding:.75rem 1.25rem;
    margin-bottom:1rem;
    border:1px solid transparent;
    border-radius:.25rem;
}
.success-stl{
    color:#155724;
    background-color:#d4edda;
    border-color:#c3e6cb;
    position:relative;
    padding:.75rem 1.25rem;
    margin-bottom:1rem;
    border:1px solid transparent;
    border-radius:.25rem;
}



















.avatar-case img{
    width: 200px;
}
.presentation h1{
    font-style: normal;
    font-weight:100;
}
.presentation em{
    font-style: normal;
    font-weight:bold;
}
/*-----------------------------------------------------------------------error signal-----------------------------------------------------------------------*/


.containerr {
    min-width: 992px!important;
}
.col-md-12 {
    max-width: 100%;
}
.text-center {
    text-align: center!important;
    margin: 0 0 20px 0;
    /*font-weight: normal;*/
}
.coche{
    margin: 20px 0 0 0 ;
}
.p-5 {
    padding: 3rem!important;
}