.passwd-container{
  width: 309.6px;
  margin:20px 0;
}


.input-container{
    width: 309.6px;
    position: relative;
    margin:20px 0;
    display: flex;
}
.input-btn{
    width: 309.6px;
    position: relative;
    margin:auto;
}

.label {
    position: absolute;
    left: 20px;
    top: 14px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: rgb(49, 39, 131);/*#2f2c45#b3b3b3;*/
}
.text-input,.pass-input,.button-input {
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(49, 39, 131);/*#2f2c45*/
    /*background: #272530;*/
    border-radius: 40px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: rgb(49, 39, 131);/*#fff;*/
}
.button-input{
    background-color: #fff;
    border: 2px solid rgb(49, 39, 131);/**/
    margin-top: 20px;
    cursor: pointer;
}
.button-input:hover{
    background-color: rgb(49, 39, 131);
    color: rgb(255, 232, 0);
}

.label::before {
    content: "";
    height: 5px;
    /*background: #fff;#272530;*/
    position: absolute;
    left: 0px;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.text-input:focus,.pass-input:focus {
    border: 2px solid rgb(49, 39, 131);/*#7e4ccb;*/
}

.text-input:focus + .label,
.filled {
    top: -10px;
    color: rgb(49, 39, 131);/*#7e4ccb;*/
    font-size: 14px;
    background: #fff;
}
.pass-input:focus + .label,
.filled {
    top: -10px;
    color: rgb(49, 39, 131);/*#7e4ccb;*/
    font-size: 14px;
    background: #fff;
}

.text-input::placeholder,.pass-input::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
}
.text-input:focus::placeholder {
    opacity: 1;
}
.pass-input:focus::placeholder {
    opacity: 1;
}
.pass-strength {
    display: flex;
    align-items: center;
    margin-top: 3px;
}

.strength-label {
    font-size: 12px;
    margin-left: 10px;
}
.strength-percent {
    flex: 1;
    height: 5px;
    border-radius: 10px;
    display: block;
    background: #eee;
}

.strength-percent span {
    display: block;
    height: 100%;
    transition: all 0.4s;
    border-radius: 10px;
}

.fa-eye{
    position: absolute;
    top:35%;
    right: 5%;
    cursor: pointer;
    color: rgb(49, 39, 131);
}

.weak {
    background: red;
    width: 33%;
}

.average {
    background: #ffd000;
    width: 66%;
}

.strong {
    background: green;
    width: 100%;
}